<div class="centerdiv">
  <h1>Search results for "{{result.ISBN_13}}"</h1>
  <div class="boxshadow">
    <h2>Book Information</h2>
    <p class="information"><b>Title: </b>{{result.title}}</p>
    <p class="information"><b>Author: </b>{{result.author}}</p>
    <p class="information"><b>Price: </b> ${{result.price}}</p>
    <p class="information"><b>Publisher: </b> {{result.publisher}}</p>
  </div>
</div>